.lg-body {
  background-color: #222D32;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
.red {
  color: #A94442;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.panel .panel-title {
  height: 40px;
  line-height: 40px;
}
.mt-150 {
  margin-top: 150px;
}
.mt-20 {
  margin-top: 20px;
}
.lt-aside {
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #222D32;
  width: 180px;
  height: 100%;
  transition: all 1s;
}
.lt-aside .lt-brand {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  background-color: #367FA9;
}
.lt-aside .lt-brand a {
  color: #fff;
}
.lt-aside .user {
  padding-top: 30px;
  height: 180px;
}
.lt-aside .user img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.lt-aside .user p {
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  font-size: 18px;
}
.lt-aside .nav a {
  height: 40px;
  line-height: 40px;
  color: #fff;
  border-left: 3px solid transparent;
  padding-left: 40px;
  display: block;
}
.lt-aside .nav a i {
  margin-right: 5px;
}
.lt-aside .nav a.current {
  border-left: 3px solid #006699;
  background-color: #1D1F21;
}
.lt-aside .nav .child a {
  padding-left: 50px;
}
.lt-aside.hidemenu {
  left: -180px;
}
.lt-main {
  padding-left: 180px;
  padding-top: 50px;
  transition: all 1s;
}
.lt-main.hidemenu {
  padding-left: 0;
}
.lt-main .toptitle {
  line-height: 50px;
  position: fixed;
  background-color: #3C8DBC;
  left: 0;
  top: 0;
  width: 100%;
  padding-left: 180px;
  height: 50px;
  transition: all 1s;
}
.lt-main .toptitle a {
  height: 50px;
  width: 50px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
.lt-main .toptitle.hidemenu {
  padding-left: 0;
}
