.item-box{
  padding: 10px;
  border-top:1px solid #ccc;
}
.lt-price .price{
  color:red;
}
.lt-price .oldprice{
  text-decoration: line-through;
  font-size: 12px;
  color:#666;
}
/* 尺码 */
.lt-size span{
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 14px;
  margin-bottom: 3px;
}
.lt-size span.current{
  background-color: orange;
  color:#fff;
}
/* 数量 */
.lt-num .surply{
  color:#666;
  font-size: 14px;
}

/* 底部 */
.cart-footer{
  position: absolute;
  left:0;
  bottom:0;
  height: 55px;
  background-color: #EFEFF4;
  width: 100%;
  padding: 10px ;
  border-top: 1px solid red;
}
.cart-footer a{
  padding: 5px;
  display: inline-block;
}