/* 排序 */
.lt-sort {
  height: 30px;
  line-height: 30px;
  text-align: center;
    background-color: #EEEEEE;
    font-size: 12px;
}
.lt-sort a{
  float: left;
  width: 25%;
  color: #666;
  
}
.lt-sort a.current{
  color: orange
}
.load{
  width: 50px;
  height: 50px;
  border:3px solid #069;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  top:150px;
  animation:rotate 3s infinite linear;
}
/* 定义动画 */
@keyframes rotate{
    from{
      transform: translateX(-50%) rotate(0);
    }
    to{
      transform: translateX(-50%) rotate(360deg);
    }
  }


