* {
  margin: 0;
  padding: 0;
  list-style: none;
}
a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}
.red {
  color: #A94442;
}
.body-bg {
  background-color: #222D32;
}
.mt-150 {
  margin-top: 150px;
}
.mt-20 {
  margin-top: 20px;
}
h3 {
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.lt-aside {
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  width: 180px;
  height: 100%;
  background-color: #222D32;
  transition: all 1s;
}
.lt-aside .lt-header {
  background-color: #367FA9;
}
.lt-aside .lt-header a {
  width: 100%;
  height: 50px;
  display: block;
  line-height: 50px;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  color: #fff;
}
.lt-aside .lt-user {
  width: 180px;
  height: 180px;
  text-align: center;
}
.lt-aside .lt-user img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.lt-aside .lt-user h4 {
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  color: #fff;
}
.lt-aside .lt-nav ul li a {
  padding-left: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  border-left: 3px solid transparent;
  display: block;
}
.lt-aside .lt-nav ul li a.current {
  border-left: 3px solid #006699;
  background-color: #1D1F21;
}
.lt-aside .lt-nav ul .child a {
  padding-left: 50px;
}
.lt-aside.menuout {
  left: -180px;
}
.lt-main {
  padding-left: 180px;
  height: 1000px;
  padding-top: 50px;
  transition: all 1s;
}
.lt-main .lt-mheader {
  background-color: #3C8DBC;
  height: 50px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding-left: 180px;
  transition: all 1s;
}
.lt-main .lt-mheader a {
  color: #fff;
  width: 50px;
  height: 50px;
  display: block;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
}
.lt-main .lt-mheader.menuout {
  padding-left: 0;
}
.lt-main.menuout {
  padding-left: 0;
}
.lt-content {
  padding: 20px;
  height: 1000px;
}
.lt-content .echarts {
  width: 48%;
  height: 400px;
}
.lt-content .table-bordered th,
.lt-content .table-bordered td {
  vertical-align: middle;
  text-align: center;
}
